body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Playpen Sans', cursive;
  font-size: 3rem;
  margin:  5%;
  color: #FEF2BF;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 20px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  border-radius: 40%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.go{
  height: 80px;
  width: 100px;
  border-radius: 50%;
  font-size: 2rem;
  font-family: 'Playpen Sans', cursive;
  background-color: #ED7D31;
  border: none;
  color: #FEF2BF;
  box-shadow: 0 7px #FEF2BF;
}

.go:hover {background-color: #FF5B00}

.go:active {
  background-color: #FF5B00;
  box-shadow: 0 5px #FEF2BF;
  transform: translateY(4px);
}


.btn:active {
  box-shadow: 0 5px #FEF2BF;
  transform: translateY(4px);
}

